@font-face {
	font-family: "Asap Sans";
	src: url(../fonts/Asap-Regular.otf);
}

@font-face {
	font-family: "Asap Sans";
	src: url(../fonts/Asap-Bold.otf);
	font-weight: bold;
}

body {
	background-color:#596F7C;
	color: #000E1B;
	font-family: "Asap Sans", Calibri, Tahoma, sans-serif;
}

h1 {
	color:#FFFFFF;
}

button:active {
	box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    transform: translateY(4px);
}

button.reg {
	background-color: #EAD7C6;
	font-size: 2rem;
	font-weight: bold;
	border: none;
	border-radius: 10px;
	min-width: 125px;
	min-height: 90px;
	box-shadow: 1px 5px 3px 0px rgba(0,0,0,0.26);
}

button.backBut {
	background-color: transparent;
	border: none;
	background-image: url(../img/ArrowBack.svg);
	height: 1rem;
	width: 2rem;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

button.inner {
	background-color: #EAD7C6;
	font-size: 1.25rem;
	font-weight: bold;
	border: none;
	border-radius: 10px;
	max-width: 65vw;
	padding: 1rem;
	margin: .25rem;
	box-shadow: 1px 5px 3px 0px rgba(0,0,0,0.26);
}

.top {
	display: flex;
	text-align: center;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.mid {
	display: flex;
	justify-content: center;
}

.diagram-image {
	width: 65vw;
	height: 50vh;
}

.bot {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.abut {
	grid-area: a;
	padding: 2rem 0rem 1rem 2rem;
}

.bbut {
	grid-area: b;
	padding: 2rem 2rem 1rem 0rem;
}

.cbut {
	grid-area: c;
	padding: 2rem 0rem 1rem 2rem;
}

.dbut {
	grid-area: d;
	padding: 2rem 2rem 1rem 0rem;
}

.ebut {
	grid-area: e;
	padding: 2rem 0rem 2rem 2rem;
}

.buttondiv {
	display: grid;
	grid-template-areas:
	'a b'
	'c d'
	'e .' ;
}

#chords {
	text-align: center;
}

#content {
	min-width: 300px;
	margin: 10px auto;
}

#output {
	text-align: center;
}

@media only screen and (orientation:portrait) {
	body {
		background-color: #596F7C;
	}
}

@media only screen and (orientation:landscape) {
	body {
		background-color: #EAD7C6;
	}

	#chords {
		display: none;
	}

	#diagramC {
		display: none;
	}

	#diagramD {
		display: none;
	}

	#diagramE {
		display: none;
	}

	#diagramG {
		display: none;
	}

	#diagramA {
		display: none;
	}

	#face {
		margin: 40px auto 10px;
		background: url(../img/Guitar.svg);
		width: 65vw;
		height: 65vh;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
	}
	#output:after {
		content: 'Please turn me back around! Only your guitar should be horizontal!';
		color: #012B3B;
		font-size: 1.5rem;
		font-weight: bold;
	}
}

.hidden {
	display: none;
}

.reveal {
	display: visible;
}